:root {
    --azul-cintilante: #0475f2;
}

* {
    font-family: "Poppins", sans-serif;
}



/* MENU */
header {
    display: flex;
    justify-content: center;
    height: 120px;
    margin-bottom: 5vh;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 50vw;
}

.logo {
    display: flex;
    margin-left: 15vw;
    align-items: center;
    margin-bottom: 5vh;
    margin-top: 4vh;

}

.logo img {
    margin-top: 59%;
    width: 10vw;
    margin-bottom: 5vh;
    object-fit: 100%;

}

.menu {
    display: flex;
    align-items: center;
    margin-right: 20vw;
}

.menu nav ul {
    display: flex;
}

.menu nav .active a {
    background-color: var(--azul-cintilante);
    color: white;
}

.menu nav li a {
    font-family: "Matemasie", sans-serif;
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 5px;
    color: var(--azul-cintilante);
}

.menu nav li a:hover {
    background-color: var(--azul-cintilante);
    color: #fff;
}

.menu nav ul,
.menu nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* FIM MENU */
#banner {
    display: flex;
    justify-content: center;
    background-image: url('../img/dc-banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 670px;

}

/* BANNER */

.column {
    flex-direction: column;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.banner_headline h1 {
    color: #fff;
    font-size: 70px;
    text-shadow: 2px 2px 1px #000;
    margin: 0;
    padding: 0;
    max-width: 330px;
}

.banner_headline h2 {
    color: #fff;
    font-size: 21px;
    text-shadow: 2px 2px 1px #000;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    max-width: 330px;
    text-align: justify;
}

.banner_options {
    height: 210px;
    display: flex;
}

.banner_title {
    word-break: break-all;

}


.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: #fff;
    font-weight: bolder;
    text-shadow: 2px 2px 1px #000;
    padding: 20px;
}

.banner1 {
    border: 2px groove #554e4e;
    background-image: url('../img/dc-films.webp');
    background-size: cover;

}

.banner2 {
    border: 2px groove #554e4e;
    background-image: url('../img/dc-comics.png');
    background-size: cover;
}

.banner3 {
    border: 2px groove #554e4e;
    background-image: url('../img/dc-animation.jpg');
    background-size: cover;
}

/* FIM BANNER */

/* GERAL */
#geral {
    display: flex;
    justify-content: center;
}

#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text {
    color: #000;
    font-size: 21px;
    font-weight: bolder;
}

.widget_title_bar {
    width: 50px;
    height: px;
    background-color: var(--azul-cintilante);
    margin-top: 5px;
}

.widget_body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.img1,
.img2,
.img3,
.img4,
.img5,
.img6 {
    width: calc(50% - 10px);
    height: 100px;
    margin: 5px;
    background-color: #ccc;
}

.img1 {
    background-image: url("../img/gallery/animation_gallery.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.img2 {
    background-image: url("../img/gallery/arkham_gallery.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.img3 {
    background-image: url("../img/gallery/comics_gallery.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.img4 {
    background-image: url("../img/gallery/films_gallery.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.img5 {
    background-image: url("../img/gallery/gameplay_gallery.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.img6 {
    background-image: url("../img/gallery/series_gallery.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.widget_section_bar {
    width: 100%;
    height: 5px;
    margin-top: 2vh;
    margin-bottom: 3vh;
    background-color: var(--azul-cintilante);

}

.nav-curiosidades {
    padding: 15px;
    background-color: #e7e5e5;
}

.nav-curiosidades li {
    padding: 15px;
    list-style: none;
    text-align: justify;
    text-shadow: 1px 0px 2px #000
}

.news {
    padding: 10px;
}

.news ul {
    margin: 0;
    padding: 0;
}

.news li {
    list-style: none;
}

.news .a-news {
    color: #000;
    font-weight: bolder;
    text-decoration: none;
}

.news .a-news:hover {
    color: var(--azul-cintilante);
    text-decoration: underline;
}

.news .douwant {
    margin-top: 1vh;
}

.douwant .link-douwant {
    text-decoration: none;
    font-weight: bolder;
    color: #000;
}

.douwant .link-douwant:hover {
    text-decoration: none;
    font-weight: bolder;
    color: var(--azul-cintilante)
}

hr {
    margin-top: 4vh;
}

.personagens {
    display: flex;
    font-size: 21px;
    margin-left: 45vw;
    margin-right: 40vw;
    margin-top: 1vh;
    text-align: center;
    font-weight: bolder;
}

.widget_title_bar_char {
    width: 50px;
    height: 1px;
    margin-left: 45vw;
    margin-right: 40vw;
    background-color: var(--azul-cintilante);
    margin-top: 5px;
    margin-bottom: 5vh;
}

.char-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(48% - 10px);
    margin: 5px;
    background-color: var(--azul-cintilante);
    border: 2px groove #ccc;
}

figure img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    margin-bottom: 5px;
    border: 1px groove #ccc;
}

figure img:hover {
    width: 400px;
    height: 400px;
    object-fit: cover;
    transition: all 0.8s linear;
    -webkit-transition: all 0.8s linear;
    -moz-transition: all 0.8s linear;
    -ms-transition: all 0.8s linear;
    -o-transition: all 0.8s linear;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;


}


figcaption {
    font-weight: bolder;
    color: #fff;
    font-size: 1.5em;

}

figure .desc {
    font-size: 1.2em;
    color: #fff;
    text-align: justify;

}



/* SOBRE */

.about {
    margin-bottom: 5vh;
}

.about h1 {
    font-size: 21px;
    margin-left: 45vw;
    margin-right: 40vw;
}

.container-about {
    display: flex;
}

.container-about-text {
    display: flex;
    flex-direction: column;
    padding: 15px;

}

.container-about-text p {
    font-size: 21px;
}

.placeCompany {
    width: 20%;
    object-fit: cover;
}


/* Rodapé */
footer {
    display: flex;
    background-color: var(--azul-cintilante);
    justify-content: center;
}

.footer_menu {
    display: flex;

}

.fm_1,
.fm_2,
.fm_3 {
    flex: 1;
    color: #fff;
    padding: 20px;
}

.fm_1 {
    background-color: #512b7e;
}

.fm_2 {
    background-color: #6022c4;
}

.fm_3 {
    background-color: #7a34d6;
}

.footer_area {
    display: flex;
}

.footer_areaitem {
    flex: 1;
    color: #fff;
}

.flexColumn {
    flex-direction: column;
}

.widget_title_text {
    color: #000;
}

.widget_title_bar_footer {
    width: 50px;
    height: 1px;
    background-color: black;
    margin-top: 5px;
}

.footer_copyright {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 12px;
    font-weight: bolder;
    margin-top: 30px;
}

.footer-img {
    padding: 15px;
}

.footer-img img {
    height: 15vh;
}

.footer_menu p {
    font-size: small;
}

.portal {
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    margin-top: 15%;
    text-decoration: underline;
}

.portal:hover {
    color: #000;

}


address p {
    font-style: normal;
    background-color: #000;
    color: #fff;
    padding: 5px;
    white-space: nowrap;
}

.heart {
    color: red;
    font-weight: bolder;
    font-size: 1.2em;
}

.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
    cursor: pointer;
}

/* Responsividade */

@media (max-width: 600px) {

    .menu nav ul.menuAberto {
        display: flex;
    }

    .menu nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #fff;

    }

    .menu .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 57vw;
    }

    .nm_line {
        height: 3px;
        background-color: var(--azul-cintilante);
    }

    header {
        display: flex;
        padding-right: 10vw;
        margin-right: 70vw;
    }

    .widget_body .news {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .widget_body .curiosidades {
        width: 100%;
    }

    .widget_body .curiosidades .nav-curiosidades {
        display: flex;
        flex-direction: column;
        padding: 15px;
        margin: 5%;
    }

    .container .logo a img {
        width: 20vw;
    }

    .widget_body img .logo a img {
        height: auto;
    }

    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6 {

        width: (100% - 5px);
        height: 100px;
        margin: 5px;
        background-color: #000;
        background-size: cover;
        background-repeat: no-repeat;
    }

    header .container {
        flex-direction: row;

    }

    #banner {
        background-size: cover;
    }

    .banner_headline {
        padding: 20px;
    }

    .banner_headline h1 {
        font-size: 40px;
        text-align: center;
    }

    .banner_headline h2 {
        font-size: 16px;
        text-align: center;
    }

    .banner_options {
        height: auto;
        flex-direction: column;
    }

    .banner1,
    .banner2,
    .banner3 {

        flex-direction: column;
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #aboutSite {
        width: auto;
    }

    #aboutSite .container-about .placeCompany {
        display: none;
    }

    #geral section,
    aside {
        padding: 20px;
        flex-direction: column;

    }


    .footer_menu {
        flex-direction: column;
        padding: 20px;
        box-sizing: border-box;
    }

    .footer_area {
        flex-direction: column;
        padding: 20px;

    }

    .footer-img img {
        width: auto;
    }

    address p {
        padding: 10px;
        font-size: 1.3vw;

    }

    .fm_1,
    .fm_2,
    .fm_3 {
        margin-right: -10vw;
        margin-left: -10vw;
    }

    .footer_copyright {
        height: auto;
        padding-left: 20px;
        text-align: left;
    }

    /* 400px */

    @media (max-width: 400px) {
      

        .menu nav ul.menuAberto {
            display: flex;
        }

        .menu nav ul {
            display: none;
            flex-direction: column;
            position: absolute;
            left: 0;
            width: 100%;
            background-color: #fff;

        }

        .menu .menuMobile {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-left: 57vw;
        }

        .nm_line {
            height: 3px;
            background-color: var(--azul-cintilante);
        }

        header {
            display: flex;
            padding-right: 10vw;
            margin-right: 70vw;
        }

        .widget_body {
            display: flex;
            flex-direction: row;
        }

        .widget_body .news {
            display: flex;
            flex-direction: row;
            width: auto;
        }

        .widget_body .curiosidades {
            flex-direction: column;

        }

        .widget_body .curiosidades .nav-curiosidades {
            display: flex;
            flex-direction: column;
            padding: 15px;
            width: 5%;
        }

        .container .logo a img {
            width: 30vw;
        }

        .widget_body img .logo a img {
           display: none;
        }

        .img1,
        .img2,
        .img3,
        .img4,
        .img5,
        .img6 {

            width: (100% - 5px);
            height: 100px;
            margin: 5px;
            background-color: #000;
            background-size: cover;
            background-repeat: no-repeat;
        }

        header .container {
            flex-direction: row;

        }

        #banner {
            background-size: cover;
        }

        .banner_headline {
            padding: 20px;
        }

        .banner_headline h1 {
            font-size: 40px;
            text-align: center;
        }

        .banner_headline h2 {
            font-size: 16px;
            text-align: center;
        }

        .banner_options {
            height: auto;
            flex-direction: column;
        }

        .banner1,
        .banner2,
        .banner3 {

            flex-direction: column;
            height: auto;
            background-size: cover;
            background-repeat: no-repeat;
        }

        #aboutSite {
            width: auto;
        }

        #aboutSite .container-about .placeCompany {
            display: none;
        }

      #geral {
        display: none;
      }


        .footer_menu {
            flex-direction: column;
            padding: 20px;
            box-sizing: border-box;
        }

        .footer_area {
            flex-direction: column;
            padding: 20px;

        }
    
        .footer-img img {
           width: auto;
          
        }

        address p {
            width: 45vw;
            padding: 5px;
            font-size: 1.5vw;

        }

        .fm_1,
        .fm_2,
        .fm_3 {
            margin-right: -15vw;
            margin-left: -15vw;
        }

        .footer_copyright {
            height: auto;
            padding-left: 20px;
            text-align: left;
        }
    }


}